<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="login-content">
            <h4>Reset password</h4>
            <ng-form name="login">
                <div class="row">
                    <div class="col-md-12">
                        <input type="password" placeholder="New Password" class="form-control" ng-model="profile.password" required/>
                        <input type="password" placeholder="Verify Password" class="form-control" ng-model="vPassword" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="forgot-password">
                            <a href="#login">Wait... i remember</a>
                        </div>
                        <button ng-class="{'disabled' : login.$invalid || passwordMismatch}" class="btn btn-primary" ng-click="reset()">Recover</button>
                    </div>
                </div>
            </ng-form>
            <a href="#signup">need an account?</a>
        </div>
    </div>
</div>