<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="login-content">
            <h1>Sign Up</h1>
            <ng-form name="login">
                <div class="row">
                    <div class="col-md-12">
                        <input type="text" placeholder="First Name" class="form-control" ng-model="profile.firstName" required/>
                        <input type="text" placeholder="Last Name" class="form-control" ng-model="profile.lastName" required/>
                        <input type="text" placeholder="Email" class="form-control" ng-model="profile.email" required/>
                        <input type="text" placeholder="Username" class="form-control" ng-model="profile.username" required/>
                        <input type="password" placeholder="Password" class="form-control" ng-model="profile.password" required/>
                        <input type="password" placeholder="Verify Password" class="form-control" ng-model="vPassword"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6 text-right">
                        <button ng-class="{'disabled' : signupDisabled || login.$invalid}" class="btn btn-sm btn-primary" ng-click="signup(profile)">Sign Up</button>
                    </div>
                </div>
            </ng-form>
            <a href="#login">already have an account?</a>
        </div>
        <div class="login-footer">
            <div class="row">
                <div class="col-xs-4">
                    <ul class="login-social">
                        <li ng-if="app.facebookAPI">
                            <button class="btn btn-link" ng-click="social('facebook')">Facebook</button>
                        </li>
                        <li ng-if="app.twitterAPI">
                            <button class="btn btn-link" ng-click="social('twitter')">Twitter</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>